h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(12, 58, 98);
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
}

body {
    background-color: aliceblue;
    color: rgb(12, 58, 98); /* Set default text color for the entire page */
}

h2 {
    text-align: center;
    font-size: 12px;
    margin-top: 0;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: rgb(12, 58, 98); /* Ensures h3 matches the global color */
    margin-top: 20px;
    margin-bottom: 10px;
}